<div class="summary">
  <div class="welcome">
    <div class="title-box">
      <h3>
        Welcome
      </h3>
      <p>With supporting text below as a natural lead-in to additional content.</p>

      <button (click)=navigateService.navigateTo(0)>See transaction</button>

      <div>
        <h3>You have {{dataService.allCount}} transactions</h3>
      </div>

    </div>

  </div>

  <div class="cards">
    <div class="card">
      <div class="card-item">
        <h3>
          {{dataService.getOnly(0).length}}
        </h3>
        <div>Income</div>
      </div>

      <button (click)=navigateService.navigateTo(0)>See all</button>
    </div>
    <div class="card">
      <div class="card-item">
        <h3>
          {{dataService.getOnly(1).length}}
        </h3>
        <div>Investments</div>
      </div>

      <button (click)=navigateService.navigateTo(1)>See all</button>
    </div>
    <div class="card">
      <div class="card-item">
        <h3>
          {{dataService.getOnly(2).length}}
        </h3>
        <div>Outcome</div>
      </div>

      <button (click)=navigateService.navigateTo(2)>See all</button>
    </div>
    <div class="card">
      <div class="card-item">
        <h3>
          {{dataService.getOnly(3).length}}
        </h3>
        <div>Loans</div>
      </div>
      <button (click)=navigateService.navigateTo(3)>See all</button>
    </div>
  </div>
</div>
