.summary {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(235, 237, 241);
    border-radius: 10px;
    min-width: 600px;
    padding: 0;
    background: rgba(218, 236, 222, 0.87);

    .title-box {
      display: flex;
      //border: 1px solid rgb(255, 153, 0);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 15px 4px 15px 3px;
      padding: 10px;
      font-size: 1rem;
      background: rgba(43, 57, 69, 0.3);

      h3 {
        color: #056767;
        border-bottom: 1px solid #056767;
        background: wheat;
        padding: 10px;
      }
    }

  }

  .cards {
    width: 600px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: rgba(218, 236, 222, 0.67);

    .card {
      margin-top: 20px;
      padding-top: 50px;
      border: 1px solid rgb(235, 237, 241);
      width: 280px;
      height: 180px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }

}
