.tab-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  font-family: "Helvetica Neue", sans-serif;

  .tab {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px solid rgba(12, 107, 107, 0.73);
    -webkit-box-shadow: 14px 12px 15px -1px rgba(17, 18, 18, 0.6);
    -moz-box-shadow: 14px 12px 15px -1px rgba(17, 18, 18, 0.6);
    box-shadow: 14px 12px 15px -1px rgba(17, 18, 18, 0.6);
    background: rgba(56, 91, 122, 0.5);
    border-radius: 10px;
    padding: 15px;


    .button-tab {
      height: 10%;
      margin-top: 3px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .btn-navigate {
        font-size: 14px;
        background-color: #068383;
        color: aliceblue;
        border-radius: 5px;
        margin: 10px;
        padding: 4px;
        border: 0 solid #056767;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
        outline: 1px solid;
        outline-color: rgba(255, 255, 255, .5);
        outline-offset: 0px;
        text-shadow: none;
        transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
      }

      .btn-navigate-exit {
        background: #068383;
        border: 0 solid #056767;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
        outline: 1px solid;
        outline-color: rgba(255, 255, 255, .5);
        outline-offset: 0px;
        text-shadow: none;
        transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
        border-radius: 5px;
        color: #ebedf1;
        font-weight: bold;
        width: 22px;
        height: 22px;
      }

      .btn-navigate:hover, .btn-navigate-exit:hover {
        border: 1px solid;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;
        text-shadow: 1px 1px 2px #074949;
      }


    }

    .tab-header {
      height: 100%;
      justify-content: center;
      background: #068383;
      opacity: 0.85;
      color: rgb(235, 237, 241);

      th {
        margin: 5px;
        font-size: 14px;
        background: #068383;
        border-radius: 5px;
      }
    }
  }

  .tab-body {
    text-align: center;
    background: rgba(218, 236, 222, 0.53);

    td {
      border-radius: 5px;

    }

  }
}

